.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h2 {
  margin-right: 10px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title svg {
  animation: rotate 10s linear infinite;
}
